<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Book | Book App</title>
  <%- include('assets/bootstrap/css') %>
</head>
<body>
  <%- include('components/header') %>
  <main class="container-lg p-2 d-flex flex-column gap-2">
    <h1 class="fw-bolder text-center">
      Add Book
    </h1>
    
    <form action="/books" method="POST">
      <div class="d-flex flex-column gap-2 border border-2 border-success mx-auto p-3 rounded-3" style="max-width: 800px">
        <input name="title" type="text" placeholder="Book Title" class="form-control" required>
        
        <div class="d-flex gap-2">
          <input name="publisher" type="text" placeholder="Publisher" class="form-control" autocomplete="true">
          <select name="author" id="" class="form-select" style="max-width: 450px" disabled>
            <option value="<%= selfUser.id %>" selected>
              <%= selfUser.full_name %>
            </option>
          </select>
        </div>
        
        <div class="d-flex gap-2">
          <div class="input-group">
            <label for="published_at" class="input-group-text">
              Publish Date
            </label>
            <input
              id="published_at"
              name="published_at"
              class="form-control"
              type="date"
              placeholder="Published on mm/dd/yyyy"
            >
          </div>
          <div class="input-group" style="max-width: 450px">
            <label class="input-group-text">$</label>
            <input name="price" type="number" placeholder="Price" step="any" min="0" class="form-control">
          </div>
        </div>
        
        <input id="img-url" name="img-url" type="text" placeholder="Paste an image URL here" class="form-control" onchange="showImgPreview()">
        
        <div class="d-flex gap-2">
          <div
            id="img-preview"
            class="bg-dark-subtle rounded-3 p-2 flex-grow-1 d-flex justify-content-center align-items-center"
            style="max-height: 100%"
          >
            <p id="img-placeholder" class="text-muted fst-italic">
              image preview
            </p>
          </div>
          <textarea
            class="form-control me-auto"
            style="width: fit-content"
            name="desc"
            cols="60"
            rows="10"
            placeholder="Description (Max. 1200 characters)"
            maxlength="1200"
          ></textarea>
        </div>
        
        <button type="submit" class="btn btn-success">
          Submit
        </button>
      </div>
    </form>
  </main>
  
  <script>
    
    const imgUrlElement = document.getElementById('img-url');
    const imgPreviewElement = document.getElementById('img-preview');
    const imgPlaceholderElement = document.getElementById('img-placeholder');
    
    const showImgPreview = () => {
      console.log("changing book")
      if (imgUrlElement.value){
        const imgPreview = document.createElement('img');
        // "".split(" ").forEach((c) => {
        //   imgPreview.classList.add(c);
        // });
        imgPreview.style.maxWidth = '220px';
        
        imgPreview.src = imgUrlElement.value;
        
        imgPreviewElement.replaceChildren(imgPreview);
      } else {
        imgPreviewElement.replaceChildren(imgPlaceholderElement)
      }
    }
    
  </script>
</body>
</html>